.navigation
{
.bg
{
    background-color: rgb(40, 100, 128) !important;
}
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-item
{
    font-size: 1.5rem;
    padding-right: 1rem;
}

.nav-icon
{
    padding-right: 1rem;
}

.info
{
    text-align: left;
    font-size: larger;
    margin: 2rem;
}