.navigation
{
.bg
{
    background-color: rgb(40, 100, 128) !important;
}
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-item
{
    font-size: 1.5rem;
    padding-right: 1rem;
}

.nav-icon
{
    padding-right: 1rem;
}

.bghero
{
    background-image: url(../img/hondaOdysseyHero.jpg);
    background-position: auto;
    background-repeat: no-repeat;
    background-size: 100rem;
}

.heromain
{
    position: center;
    margin: 7rem;
}

.footerhero
{
    margin-top: 5rem;
}

.heromain
{
    .head1
    {
        margin-bottom: 2rem;
        font-size: smaller;
        line-height: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .head2
    {
        margin-bottom: 3rem;
        font-size: xx-large;
        line-height: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .subhead
    {
        margin-bottom: 3rem;
        font-size: smaller;
        line-height: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

}

